<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              address
            </h3>
            <p class="footer_text"> 200, Green road, Mongla, <br>
              exact place name</p>
            <a href="#" class="line-button">Get Direction</a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              Reservation
            </h3>
            <p class="footer_text">+1 367 267 2678 <br>
              myplacehosted@example.com</p>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Navigation
            </h3>
            <ul>
              <li><a [routerLink]="'/home'">Home</a></li>
              <li><a [routerLink]="'/rooms'">Rooms</a></li>
              <li><a [routerLink]="'/about'">About</a></li>
              <li><a [routerLink]="'/services'">Services</a></li>
              <li><a [routerLink]="'/contact'">contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <h3 class="footer_title">
              Newsletter
            </h3>
            <form action="#" class="newsletter_form">
              <input type="text" placeholder="Enter your mail">
              <button type="submit">Sign Up</button>
            </form>
            <p class="newsletter_text">Subscribe newsletter to get updates</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-8 col-md-7 col-lg-9">
          <p class="copy_right">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            All rights reserved

            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
  </div>
</footer>
